<div class="content">
  <div class="titulo">
    Alta RRPP
  </div>
  <form [formGroup]="curRRPP" (ngSubmit)="create()">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control"  placeholder="Introduzca nombre" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Apellidos</label>
        <input type="text" class="form-control"  placeholder="Introduzca apellidos" formControlName="surname"  [ngClass]="{ 'is-invalid': submitted && f.surname.errors }">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" placeholder="Introduzca email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Fecha de nacimiento</label>
        <input type="date" class="form-control" placeholder="Introduzca fecha de nacimiento" formControlName="birthday"  [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre de lista</label>
        <input type="text" class="form-control" placeholder="Introduzca nombre de lista" formControlName="listName" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Jefe de equipo</label>
        <select class="form-control" formControlName="idBoss"   [ngClass]="{ 'is-invalid': submitted && f.teamBoss.errors }">
          <option *ngFor="let item of listBosses" value="{{item._id}}">{{item.name}}</option>
        </select>
       </div>
      <div class="form-group">
        <label for="exampleInputEmail1">RRPP</label>
        <select class="form-control" formControlName="rrpp">
          <option>RRPP</option>
          <option>Jefe de Equipo</option>
        </select>
      </div>
      <button type="submit" class="btn btn-dark save">Crear</button>
      
  </form>
  <div class="import" >
      <div class="custom-file" id="customFile" lang="es">
          <input type="file" class="custom-file-input" id="exampleInputFile" aria-describedby="fileHelp" multiple [(ngModel)]="files" (change)="onFileChange($event, files)">
          <label class="custom-file-label" for="exampleInputFile">
             Importar RRPPs
          </label>
  </div>
  
  </div>
  <div class="alertContent" *ngIf="alert">
      <div class="alert alert-success" role="alert">
          Alta genedara correctamente!
      </div>
  </div>
</div>