<body class="body" >
  <div class="nav">
    <div (click) = "navBar=!navBar"  class="barNav"><i class="fas fa-bars fa-2x">
    </i></div>
    <div class="title" (click)="navBar = false;" [routerLink]="['/home']">Enjoy Madrid</div>
    <div class="backNav" *ngIf="router.url !== '/home'"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></div>
  </div>
  <nav *ngIf="navBar" class ="menu">
      <ul>
        <li (click)="navBar=!navBar" [routerLink]="['/asistencia-rrpp']">
          <div>
            Asistencia RRPP
          </div> 
        </li>
        <li (click)="navBar=!navBar" [routerLink]="['/lista']">
          <div>
            Listas
          </div>
        </li>
        <li (click)="navBar=!navBar" [routerLink]="['/historial-recuentos']">
          <div>
            Historial de recuentos
          </div>
        </li>
        <li (click)="navBar=!navBar" [routerLink]="['/alta-rrpp']"> 
          <div>
            Alta de RRPPs
          </div>
        </li>
      </ul>

      <div class ="exit" (click)="navBar=!navBar" [routerLink]="['/alta-usuario']">
        Crear Usuario
      </div>
      <div class ="exit" (click)="navBar=!navBar" [routerLink]="['/login']">
        Salir <i class="fas fa-sign-out-alt fa-2x"></i>
      </div>
    </nav>
    <router-outlet></router-outlet>
</body>
  
