<div class="content">
  <div class="icons" style="border-bottom: solid;">
    <div (click) = "this.router.navigate(['/asistencia-rrpp']);">
      <i class="fas fa-users fa-5x"></i>
      <p>Asistencia RRPP</p>
    </div>
    <div [routerLink]="['/lista']">
      <i class="fas fa-list fa-5x"></i>
      <p>Listas</p>
    </div>
  </div>
  <div class="icons">
    <div [routerLink]="['/historial-recuentos']">
      <i class="fas fa-calculator fa-5x"></i>
      <p>Historial de recuentos</p>
    </div>
    <div [routerLink]="['/alta-rrpp']">
      <i class="fas fa-user-plus fa-5x"></i>
      <p>Alta RRPP</p>
  </div>
</div>